<h1>Cadastre aqui um novo cliente</h1>

<form action="/cliente_cadastro" method="post" >
	Nome: <input type="text" name="nome"/>
	E-mail: <input type="text" name="email"/>
	Senha: <input type="password" name="senha"/>
	Confirmação de senha: <input type="password" name="confirma_senha"/>
	<input type="submit" value="Cadastrar" />
</form>