<% if session[:admin_logado] == nil || session[:admin_logado] == []
	redirect '/'%>
<% else %>	
	<h1>Veja aqui os clientes cadastrados</h1>

	<form action="/clientes_busca" method="get">
		<input name="busca" type="text"/>
		<input type="submit" value="buscar"/>
	</form>
	<% if @clientes != nil %>
		<ul>
		<% @clientes.each do |cliente| %>
			<li><%= cliente.nome.capitalize %> / <%= cliente.email %>
				<form action="/clientes_remover" method="post">
					<input name="id_remover" value="<%=cliente.id%>" type="hidden"/>
					<input type="submit" value="Remover cliente"/>
				</form>
			</li>
		<% end %>
		</ul>
	<% else %>
		Sem clientes. Nothing to do here.
	<% end %>
<% end %>